@{
    ViewBag.Title = "Open Hours";
    Layout="_LayoutAdmin";
}

<aside id="colorlib-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(/images/admin-bg-1.jpg);" data-stellar-background-ratio="0.5">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
                            <div class="slider-text-inner text-center">
                                <div class="desc">
                                    <span class="icon"><i class="icon-user-plus2"></i></span>
                                    <h1>Admin Page</h1>
                                    <p><span><a href="#">Admin</a></span> /<span>Home</span></p>
                                    <div class="desc2">You are at admin page.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>
<div id="colorlib-contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Business Info
                    </div>
                    <div class="panel-body">
                        <div>Business Name:</div>
                        <h4>Shangrila Himalayan</h4>
                        <ul class="list-group">
                            <div href="#" class="list-group-item">
                                <h5 class="list-group-item-heading">Address</h5>
                                <p class="list-group-item-text">1142 Ski Run Blvd, South Lake Tahoe, CA 96150</p>
                            </div>
                            <div href="#" class="list-group-item">
                                <h5 class="list-group-item-heading">Phone</h5>
                                <p class="list-group-item-text">+1 530-600-3177</p>
                            </div>
                            <div href="#" class="list-group-item">
                                <h5 class="list-group-item-heading">Email</h5>
                                <p class="list-group-item-text">shangrilahimalayan@gmail.com</p>
                            </div>
                            <div href="#" class="list-group-item">
                                <h5 class="list-group-item-heading">Facebook</h5>
                                <p class="list-group-item-text">https://www.fb.com/shangrila.himalayan/</p>
                            </div>
                            <div href="#" class="list-group-item">
                                <h5 class="list-group-item-heading">Instagram</h5>
                                <p class="list-group-item-text">-</p>
                            </div>
                            <div href="#" class="list-group-item">
                                <h5 class="list-group-item-heading">Yelp</h5>
                                <p class="list-group-item-text">https://www.yelp.com/biz/shangrila-himalayan-kitchen-south-lake-tahoe</p>
                            </div>
                        </ul>
                        <a href="/Admin/BusinessInfo" class="btn btn-info btn-outline">Edit</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="panel panel-primary">
            <div class="panel-heading">
                Business Info
            </div>
            <div class="panel-body">
                <p>Business Name:</p>
                <p>Address: <br/>
                Phone: <br/>Email:<br/>Facebook:</p>
                <p>Twitter:</p>
                <p>Instagram:</p>
                <p>Yelp:</p>
                <a href="#" class="btn btn-info btn-outline">Edit</a>
            </div>
            </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="panel panel-primary">
            <div class="panel-heading">
                Business Info
            </div>
            <div class="panel-body">
                <p>Business Name:</p>
                <p>Address: <br/>
                Phone: <br/>Email:<br/>Facebook:</p>
                <p>Twitter:</p>
                <p>Instagram:</p>
                <p>Yelp:</p>
                <a href="#" class="btn btn-info btn-outline">Edit</a>
            </div>
            </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="panel panel-primary">
            <div class="panel-heading">
                Business Info
            </div>
            <div class="panel-body">
                <p>Business Name:</p>
                <p>Address: <br/>
                Phone: <br/>Email:<br/>Facebook:</p>
                <p>Twitter:</p>
                <p>Instagram:</p>
                <p>Yelp:</p>
                <a href="#" class="btn btn-info btn-outline">Edit</a>
            </div>
            </div>
            </div>
        </div>
    </div>
</div>





