<div class="colorlib-intro">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 text-center">
                <div class="intro animate-box">
                    <span class="icon">
                        <i class="icon-map4"></i>
                    </span>
                    <h2>Address</h2>
                    <p><a href="https://goo.gl/maps/U8uztkLNoQvuEEiz9" target="_blank">1142 Ski Run Blvd, South Lake Tahoe, CA 96150</a></p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="intro animate-box">
                    <span class="icon">
                        <i class="icon-clock4"></i>
                    </span>
                    <h2>Opening Time</h2>
                   <!-- <p>Mon: Closed</p>
                     <p>Sun & Tue - Thu: 12:00 PM - 2:45 PM, 4:00 PM - 7:45 PM</p> -->
                   <p>Sun - Thu: 12:00 PM - 2:45 PM, 4:00 PM - 7:45 PM</p>
                    <p>Fri - Sat: 12:00 PM - 2:45 PM, 4:00 PM - 8:45 PM</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="intro animate-box">
                    <span class="icon">
                        <i class="icon-mobile2"></i>
                    </span>
                    <h2>Phone</h2>
                    <p>+1 530-600-3177</p>
                    <p></p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <div class="intro animate-box">
                    <span class="icon">
                        <i class="icon-envelope"></i>
                    </span>
                    <h2>Email</h2>
                    <p><a href="#">shangrilahimalayan@gmail.com</a></p>
                </div>
            </div>
        </div>
    </div>
</div>