<div id="ourmenu" class="colorlib-menu">
    <div class="container">
        <div class="colorlib-menu">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center animate-box intro-heading">
                    <span class="icon"><i class="flaticon-cutlery"></i></span>
                    <h2>Menu</h2>
                    <p>All dishes are sparked by our homemade signature blend of spices, marinated then slow-cooked to perfection.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 animate-box">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <ul class="nav nav-tabs text-center" role="tablist">
                                <li role="presentation" class="active"><a href="#drinks" aria-controls="drinks" role="tab" data-toggle="tab">Drinks</a></li>
                                <li role="presentation"><a href="#appetizers" aria-controls="appetizers" role="tab" data-toggle="tab">Appetizers</a></li>
                                <li role="presentation"><a href="#main" aria-controls="mains" role="tab" data-toggle="tab">Main</a></li>
                                <li role="presentation"><a href="#desserts" aria-controls="desserts" role="tab" data-toggle="tab">Desserts & Side Orders</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="drinks">
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="menu-dish">
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/drink-1.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$4.99</span>
                                                <h3>Himalayan Chai</h3>
                                                <p class="cat"></p>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/drink-2.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$4.99</span>
                                                <h3>Himalayan Coffee</h3>
                                                <p class="cat"></p>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/drink-3.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$3.99</span>
                                                <h3>Iced Tea</h3>
                                                <p class="cat"></p>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="menu-dish">
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/drink-4.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">6.99</span>
                                                <h3>Mango Lassi</h3>
                                                <p class="cat">Blended Yogurt sweetened with mango drink</p>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/drink-4.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$5.99</span>
                                                <h3>Sweet Lassi / Salt Lassi</h3>
                                                <p class="cat">Refreshing homemade yogurt drink with sugar or salt</p>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$3.99</span>
                                                <h3>Soda</h3>
                                                <p class="cat">Pepsi / Diet Pepsi /  Mountain Dew / Lemonade / Dr. Pepper / Mug-Root Beer (Caffeine free)</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="appetizers">
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="menu-dish">
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/appetizer-1.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$3.99</span>
                                                <h3>Papad 4 pcs</h3>
                                                <p class="cat">Cripsy Lentil Bread</p>
                                            </div>
                                        </li>
                                         <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/appetizer-4.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$7.99</span>
                                                <h3>Veg Samosa (2 pcs)</h3>
                                                <p class="cat">Deep fried pastry stuffed with mildly spiced potatoes and green peas</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="menu-dish">
                                         <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/appetizer-3.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$8.99</span>
                                                <h3>Vegetable Pakora 6 pcs</h3>
                                                <p class="cat">Deliciously crunchy / Onion / Spinach / Potato / Cabbage / Cilantro / Green onion deep-fried with batter and spices</p>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/appetizer-3.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$9.99</span>
                                                <h3>Chicken Pakora 6 pcs</h3>
                                                <p class="cat">Deliciously crunchy boneless chicken pieces / deep-fried with batter and spices</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <h3> Shangrila Noodle Soup</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="menu-dish">
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/appetizer-8.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$12.99</span>
                                                <h3>Veg Chow Chow</h3>
                                                <p class="cat">Mix veggie / green onion / fresh tomato / cilantro / with soup</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="menu-dish">
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/appetizer-8.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$13.99</span>
                                                <h3>Chicken Chow Chow</h3>
                                                <p class="cat">Boneless chicken green onion / fresh tomato / cilantro with soup</p>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/appetizer-8.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$14.99</span>
                                                <h3>Lamb Chow Chow</h3>
                                                <p class="cat">Boneless lamb / green onion / fresh tomato / cilantro with soup</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <h3> Shangrila MO:MO</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="menu-dish">
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/appetizer-5.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$13.99</span>
                                                <h3>Vegetable MO:MO(9 pcs)</h3>
                                                <p class="cat">Popular Nepalese dumplings filled with minced cabbage / Spinach / Mushroom / Cheese / Onion / Spring Onion/ Corn oil and cilantro with authentic Nepalese spices</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="menu-dish">
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/appetizer-6.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$14.99</span>
                                                <h3>Chicken MO:MO(9 pcs)</h3>
                                                <p class="cat">Popular Nepalese dumplings filled with minced chicked / Onion / Spring onion / Garlic / Ginger / Cilantro / Corn Oil with homemade spices</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="main">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <h3> Vegetable Dishes</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="menu-dish">
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$13.99</span>
                                                <h3>Shangrila Dal Fry</h3>
                                                <p class="cat">Black lentils / Red beans cooked with Himalayan herb and homemade spices</p>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$13.99</span>
                                                <h3>Yellow Dal Tadka</h3>
                                                <p class="cat">Yellow lentils fried with fresh tomatoes / Onion / Cilantro / Green onion & special herb spices</p>
                                            </div>
                                        </li>
                                        @* <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$12.99</span>
                                                <h3>Aloo Gobi</h3>
                                                <p class="cat">Cauliflower and Potatoes cooked with veggie based sauce / Fresh tamato and onion / Herb and homemade spices</p>
                                            </div>
                                        </li> *@
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$13.99</span>
                                                <h3>Chana Masala</h3>
                                                <p class="cat">Homemade chickpeas / Onion / Tomato sauce and homemade spices</p>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$13.99</span>
                                                <h3>Mix Vegetable Masala</h3>
                                                <p class="cat">Fresh vegetable / Cauliflower / Potatoes / Green beans / Peas / Carrot / Cabbage / Cooked in homemade spices</p>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="menu-dish">
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$14.99</span>
                                                <h3>Saag Paneer</h3>
                                                <p class="cat">Homemade cheese and spinach cooked with creamy / Herb and homemade spices</p>
                                            </div>
                                        </li>
                                        @* <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$12.99</span>
                                                <h3>Chana Saag</h3>
                                                <p class="cat">Chickpeas and creamy spinach in onion and tomato sauce</p>
                                            </div>
                                        </li> *@
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$15.99</span>
                                                <h3>Matar Paneer</h3>
                                                <p class="cat">Green peas & homemade cheese and creamy cooked in gravy sauce</p>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$14.99</span>
                                                <h3>Veggie Korma</h3>
                                                <p class="cat">Mix veggie sautéed with spices in a cashew creamy sauce</p>
                                            </div>
                                        </li>
                                        @* <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$12.99</span>
                                                <h3>Bhindi Masala</h3>
                                                <p class="cat">Fresh okra cooked with onions / Ginger / Tomatoes and homemade spices </p>
                                            </div>
                                        </li> *@
                                    </ul>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="progress" style="height: 1px;">
                                        <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="text-center">
                                        <h3> Chicken Dishes</h3>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="menu-dish">
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$16.99</span>
                                                <h3>Chicken Curry</h3>
                                                <p class="cat">Boneless chicken thigh cooked in based on onion / Tomato gravy sauce</p>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$17.99</span>
                                                <h3>Chicken Tikka Masala</h3>
                                                <p class="cat">Widely Popular Dish  Boneless chicken breast marinated overnight and roasted in clay oven / Special creamy sauce with herbs and spices</p>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$17.99</span>
                                                <h3>Butter Chicken</h3>
                                                <p class="cat">A delicious preparation of boneless chicken thigh cooked in tomato based creamy sauce</p>
                                            </div>
                                        </li>
                                        
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="menu-dish">
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$17.99</span>
                                                <h3>Chicken Korma</h3>
                                                <p class="cat">Boneless chicken thigh cooked with onion / Tomato and creamy cashew-based sauce</p>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$17.99</span>
                                                <h3>Chicken Karahi</h3>
                                                <p class="cat">Boneless chicken cooked with onions / Bell peppers / Tomatoes / Garlic / Ginger / Fresh cilantro, / Spices </p>
                                            </div>
                                        </li>
                                        @* <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$14.99</span>
                                                <h3>Chicken Vindaloo</h3>
                                                <p class="cat">Chicken marinated with vinegar / Chilies  and spices / Cooked with potatoes in vindalo curry sauce</p>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$14.99</span>
                                                <h3>Chicken Saag</h3>
                                                <p class="cat">Boneless chicken cooked with chopped spinach and homemade spices</p>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$14.49</span>
                                                <h3>Chicken Chana</h3>
                                                <p class="cat">Boneless chicken cooked with Chana Masala and homemade spices</p>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$15.99</span>
                                                <h3>Chicken Coconut Curry</h3>
                                                <p class="cat">Boneless chicken cooked / Onion & tomato based sauce with coconut milk</p>
                                            </div>
                                        </li> *@
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="progress" style="height: 1px;">
                                        <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="text-center">
                                        <h3>Lamb Dishes </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="menu-dish">

                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$19.99</span>
                                                <h3>Lamb Tikka Masala</h3>
                                                <p class="cat">Boneless lamb cubes cooked with special creamy sauce with herbs and spices</p>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$19.99</span>
                                                <h3>Lamb Korma</h3>
                                                <p class="cat">Boneless lamb cubes cooked with onion / Tomato and creamy cashew-based sauce </p>
                                            </div>
                                        </li>
                                        @* <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$16.99</span>
                                                <h3>Lamb Saag</h3>
                                                <p class="cat">Boneless lamb cubes cooked together with chopped spinach and homemade spices      </p>
                                            </div>
                                        </li> *@
                                        @* <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$16.99</span>
                                                <h3>Lamb Chana</h3>
                                                <p class="cat">Boneless Lamb cooked with Chana Masala and homemade spices</p>
                                            </div>
                                        </li> *@
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="menu-dish">
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$18.99</span>
                                                <h3>Lamb Curry</h3>
                                                <p class="cat">Lamb cooked in based on onion / Tomato gravy sauce</p>
                                            </div>
                                        </li>
                                        @* <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$16.99</span>
                                                <h3>Lamb Vindaloo</h3>
                                                <p class="cat">Lamb marinated with vinegar / Chilies / Spices / Then cooked with potatoes in vindaloo curry sauce  </p>
                                            </div>
                                        </li> *@
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$19.49</span>
                                                <h3>Lamb Karahi</h3>
                                                <p class="cat">Boneless lamb cooked with onions / Bell peppers / Tomatoes / Garlic  / Ginger / Fresh cilantro and spices</p>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="progress" style="height: 1px;">
                                        <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="text-center">
                                        <h3>Sea Food Dishes </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="menu-dish">
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$20.99</span>
                                                <h3>Shrimp Curry</h3>
                                                <p class="cat">Shrimp cooked with fresh tomato / Garlic / Ginger and garnished with cilantro </p>
                                            </div>
                                        </li>
                                        @* <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$17.99</span>
                                                <h3>Shrimp Vindaloo</h3>
                                                <p class="cat">Shrimp pieces & potatoes and spices cooked with vindaloo sauce </p>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$17.49</span>
                                                <h3>Shrimp Saag</h3>
                                                <p class="cat">Shrimp cooked with creamy spinach and flavored with spices</p>
                                            </div>
                                        </li> *@
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="menu-dish">
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$20.99</span>
                                                <h3>Fish Curry</h3>
                                                <p class="cat">Fish (Salmon) cooked with special sauce / Fresh garlic / Ginger and garnished with cilantro </p>
                                            </div>
                                        </li>
                                        @* <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$18.99</span>
                                                <h3>Fish Vindaloo</h3>
                                                <p class="cat">Fish (Salmon) cooked with vindaloo sauce / Fresh garlic / Ginger pieces & potatoes and spices with cilantro</p>
                                            </div>
                                        </li> *@
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="progress" style="height: 1px;">
                                        <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="text-center">
                                        <h3> Rice & Shangrila Biryani<small>(Biryani comes with side of Raita)</small> </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="menu-dish">
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$3.99</span>
                                                <h3>Basmati Saffron Rice</h3>
                                                <p class="cat">World renowned long grain rice imported from Indial </p>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$19.99</span>
                                                <h3>Veggie Biryani</h3>
                                                <p class="cat">Vegetable cooked with mild spices along with basmati rice / Garnished with cilantro</p>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$20.99</span>
                                                <h3>Chicken Biryani</h3>
                                                <p class="cat">Chicken and basmati rice cooked and steamed with saffron and spices garnished with cilantro</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="menu-dish">
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$22.99</span>
                                                <h3>Lamb Biryani</h3>
                                                <p class="cat">Lamb and basmati rice cooked with saffron and spices garnished with cilantro</p>
                                            </div>
                                        </li>
                                        @* <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$18.99</span>
                                                <h3>Shrimp Biryani</h3>
                                                <p class="cat">Shrimp and basmati rice cooked with saffron and spices garnished with cilantro</p>
                                            </div>
                                        </li> *@
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="progress" style="height: 1px;">
                                        <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="text-center">
                                        <h3>Shangrila Special Tandoori Dishes <small>(Baked on Clay Oven)</small> </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="menu-dish">
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$19.99</span>
                                                <h3>Chicken Tandoori (with Bones)</h3>
                                                <p class="cat">Chicken marinated overnight in variety of spices ginger garlic paste and yogurt / Skewered then baked in clay oven</p>
                                            </div>
                                        </li>
                                       
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="menu-dish">
                                         <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$20.99</span>
                                                <h3>Chicken Tikka Kabab (Boneless)</h3>
                                                <p class="cat">Chicken breast marinated overnight in variety of spices ginger garlic paste and yogurt, skewered then baked in clay oven </p>
                                            </div>
                                        </li>
                                        @* <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$19.99</span>
                                                <h3>Lamb Boti Kabab</h3>
                                                <p class="cat">Lamb marinated overnight in variety of spices ginger garlic paste and yogurt / Skewered then baked in clay oven </p>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$19.99</span>
                                                <h3>Shrimp Tandoori</h3>
                                                <p class="cat">Fresh shrimp marinated overnight in variety of spices / Ginger garlic paste and yogurt  Skewered then baked in clay oven</p>
                                            </div>
                                        </li> *@
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="progress" style="height: 1px;">
                                        <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <div class="text-center">
                                        <h3>Fresh Baked Tandoori Naan </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="menu-dish">
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$4.99</span>
                                                <h3>Naan</h3>
                                                <p class="cat">All-purpose flour bread with Milk</p>
                                            </div>
                                        </li>
                                        
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$5.99</span>
                                                <h3>Garlic Naan</h3>
                                                <p class="cat">All-purpose flour bread / Turmeric with fresh garlic</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="menu-dish">
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$4.99</span>
                                                <h3>Tandoori Roti</h3>
                                                <p class="cat">Wheat bread</p>
                                            </div>
                                        </li>
                                        @* <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$4.99</span>
                                                <h3>Onion Naan</h3>
                                                <p class="cat">Naan stuffed with Onion and Cilantro</p>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$6.99</span>
                                                <h3>Cheese Naan</h3>
                                                <p class="cat">Naan stuffed with Mozzarella cheese</p>
                                            </div>
                                        </li> *@
                                        @*<li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/plate.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$8.99</span>
                                                <h3>Breadbasket</h3>
                                                <p class="cat">Naan, Garlic & Onion Naan</p>
                                            </div>
                                        </li>*@
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="desserts">
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="menu-dish">
                                        @* <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/dessert-1.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$6.49</span>
                                                <h3>Kulfi</h3>
                                                <p class="cat">Nepali styled ice cream with almond & coconut</p>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/dessert-2.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$6.99</span>
                                                <h3>Mango Kulfi</h3>
                                                <p class="cat">Nepali styled mango ice cream with alond & coconut</p>
                                            </div>
                                        </li> *@
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/dessert-3.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$6.99</span>
                                                <h3>Gulab Jamun (2) </h3>
                                                <p class="cat">Sweet pastry ball fried / soaked in flavored syrup and served warm</p>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/dessert-4.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$7.99</span>
                                                <h3>Kheer</h3>
                                                <p class="cat">Nepali style rice pudding / served cold</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="menu-dish">
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/dessert-7.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$4.99</span>
                                                <h3>Raita</h3>
                                                <p class="cat">Homemade yogurt with cucumber / carrot / whole cumin</p>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/dessert-8.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$4.00</span>
                                                <h3>Plain Yogurt</h3>
                                                <p class="cat"></p>
                                            </div>
                                        </li>
                                        @*<li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/dessert-9.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$1.99</span>
                                                <h3>Onion & Chilies</h3>
                                                <p class="cat"></p>
                                            </div>
                                        </li>*@
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/dessert-10.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$2.99</span>
                                                <h3>Mixed Pickles</h3>
                                                <p class="cat"></p>
                                            </div>
                                        </li>
                                        <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/dessert-11.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$2.99</span>
                                                <h3>Mnago Chutney</h3>
                                                <p class="cat"></p>
                                            </div>
                                        </li>
                                        @* <li>
                                            <figure class="dish-entry">
                                                <div class="dish-img" style="background-image: url(/images/dessert-12.jpg);"></div>
                                            </figure>
                                            <div class="text">
                                                <span class="price">$8.49</span>
                                                <h3>Tikka Masala Sauce</h3>
                                                <p class="cat"></p>
                                            </div>
                                        </li> *@
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-12 animate-box text-center">
                    <p>We offer an extensive array of tempting special meals for those with health or religious dietary requirements. We also provide special meals for infants and small children. Please feel free to tell us your dietary needs!</p>
                    <p><a href="tel:530-600-3177" class="btn btn-primary btn-outline btn-md">+1 (530) 600-3177</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
