@{
    ViewBag.Title = "Open Hours";
}
@{
    var openHours = new Dictionary<string, string[]>();
    openHours.Add("Sunday", new string[] { "12:00 PM - 2:45 PM, 4:00 PM - 7:45 PM" });
    openHours.Add("Monday", new string[] { "12:00 PM - 2:45 PM, 4:00 PM - 7:45 PM" });
    openHours.Add("Tuesday", new string[] { "12:00 PM - 2:45 PM, 4:00 PM - 7:45 PM" });
    openHours.Add("Wednesday", new string[] { "12:00 PM - 2:45 PM, 4:00 PM - 7:45 PM" });
    openHours.Add("Thursday", new string[] { "12:00 PM - 2:45 PM, 4:00 PM - 7:45 PM" });
    openHours.Add("Friday", new string[] { "12:00 PM - 2:45 PM, 4:00 PM - 8:45 PM" });
    openHours.Add("Saturday", new string[] { "12:00 PM - 2:45 PM, 4:00 PM - 8:45 PM" });

    var areWeOpen = DateTime.Today.DayOfWeek.ToString();
    var day = openHours.FirstOrDefault(x => x.Key == DateTime.Today.DayOfWeek.ToString());
    DateTime today = DateTime.Today;
    //new DateTime()

}
<aside id="colorlib-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(/images/cover_bg_2.jpg);" data-stellar-background-ratio="0.5">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
                            <div class="slider-text-inner text-center">
                                <div class="desc">
                                    <span class="icon"><i class="flaticon-cutlery"></i></span>
                                    <h1>Open Hours</h1>
                                    <p><span><a href="#">Home</a></span> <span>Open Hours</span></p>
                                    <div class="desc2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>
<partial name="_IntroPartialView"></partial>

<div id="colorlib-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center animate-box intro-heading">
                <label class="alert alert-info">Today is @areWeOpen</label>
                <h2>Open Hours</h2>
                <p>We are open 6 days a week.</p>
                <ul class="contact-info">
                    @foreach (var item in openHours)
                    {
                        <li>
                            <div class="alert alert-info">
                                <h4>@item.Key</h4>
                                @foreach (var time in item.Value)
                                {
                                    <p> @time</p>
                                }
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>





